/* General styles */

ul {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --primary-color: #212121;
  --active-color: #2196f3;
  --blue-color-logo: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --description-text-color: #757575;
  --borders-color: #2f303a;
  --hero-bg-color: #c4c4c4;

  --card-color: #f5f4fa;
  --blue-activ-logo: #188ce8;

  --border-card: #eeeeee;

  --icon-notactive: #afb1b8;

  --container-pading: 94px;
  --header-indents: 50px;
  --indentation: 30px;
  --description-indentation: 10px;

  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  background-color: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #f5f5f5; */
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.second-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--header-indents);
}

/* Header 
__________________ */
.header {
  background: var(--color-white);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 92px;
}

.logo__text--black {
  color: var(--color-black);
}

.logo__text--blue {
  color: var(--blue-color-logo);
}

.header__nav-list {
  display: flex;
}

.header__contacts-list {
  display: flex;
  margin-left: auto;
}

.header__nav-item:not(:last-child) {
  margin-right: var(--header-indents);
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: inherit;

  display: block;
  padding-top: 32px;
  transition: color var(--transition-time) var(--transition-function);
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--active-color);
}

.header__nav-link--activ {
  color: var(--active-color);
}

.header__nav-link--activ::after {
  content: "";
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
}

.headerr__contacts-item:not(:last-child) {
  margin-right: var(--header-indents);
}

.header__contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  fill: var(--description-text-color);
  transition: color var(--transition-time) var(--transition-function),
    fill var(--transition-time) var(--transition-function);
  align-items: center;
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

.header__contacts-icon {
  margin-right: var(--description-indentation);
}

/* Hero  */
.hero {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__titel {
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--color-white);

  border-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 32px;
  background-color: var(--blue-color-logo);

  transition: background-color var(--transition-time) var(--transition-function);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--blue-activ-logo);
}

/* Features  */
.features__container {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}

.feauters__list {
  display: flex;
}

.feauters__item:not(:last-child) {
  margin-right: var(--indentation);
}

.feauters__svg {
  display: block;
}

.feauters__icon {
  background-color: var(--card-color);
  border-radius: 4px;
  margin-bottom: var(--indentation);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.third-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--description-indentation);
}

.features__description {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* Section activity  */
.activity__container {
  padding-bottom: var(--container-pading);
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__box {
  position: relative;
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.activity__title {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
}

/* Section team */
.team {
  background-color: var(--card-color);
}

.team__container {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}

.team__list {
  display: flex;
  /* justify-content: space-between; */
}

.team__item:not(:last-child) {
  margin-right: var(--indentation);
}

.card-team {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.card-team__img {
  display: block;
}

.card-team__performance {
  padding-top: var(--indentation);
}

.card-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--description-indentation);
}

.card-team__profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__list {
  width: 44px;
  height: 44px;
}

.social__list:not(:last-child) {
  margin-right: var(--description-indentation);
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
  fill: var(--icon-notactive);

  transition: background-color var(--transition-time) var(--transition-function),
    fill var(--transition-time) var(--transition-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--blue-color-logo);
}

.social__link:hover .icon,
.social__link:focus .icon {
  fill: var(--color-white);
}

/* section regular-customers */
.customers {
  padding: var(--container-pading) 0;
}

.customers__list {
  display: flex;
}

.customers__item {
  width: 170px;
  height: 92px;
}

.customers__item:not(:last-child) {
  margin-right: var(--indentation);
}

.customers__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border-color var(--transition-time) var(--transition-function),
    fill var(--transition-time) var(--transition-function);
}

.customers__icon {
  fill: var(--icon-notactive);
  transition: fill var(--transition-time) var(--transition-function);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--blue-color-logo);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--blue-color-logo);
}

/* Footer */
.footer {
  background-color: var(--borders-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo__text--white {
  color: var(--color-white);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__text {
  transition: color var(--transition-time) var(--transition-function);
}

.address__text--white {
  color: var(--color-white);
}

.address__text--gray {
  color: rgba(255, 255, 255, 0.6);
}

.address__text:hover,
.address__text:focus {
  color: var(--active-color);
}

.footer__social {
  margin-left: 70px;
}

.footer__title {
  margin-bottom: 20px;
}

.footer .social__link {
  background-color: inherit;
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--transition-function);
}

.footer .social__link:hover,
.footer .social__link:focus {
  background-color: var(--blue-color-logo);
}

/* ------------------ */

.form-subscription {
  margin-left: auto;
}

.form-subscription__subscription {
  display: flex;
}

.form-subscription__input-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  background-color: var(--borders-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-subscription__input-email,
.form-subscription__input-email::placeholder {
  font-size: 16px;
  line-height: calc(16 / 20);

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 13px 28px;
  width: 200px;
  height: 50px;
  background-color: var(--active-color);
}

.form-subscription__icon-send {
  margin-left: var(--description-indentation);
  fill: white;
}

/* portfolio.html
section Портфоліо */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}

.portfolio-button-lict {
  margin-bottom: var(--header-indents);
  display: flex;
  justify-content: center;
}

.portpolio-buttom-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--card-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color var(--transition-time) var(--transition-function),
    background-color var(--transition-time) var(--transition-function),
    box-shadow var(--transition-time) var(--transition-function);
}

.button-hover:hover,
.button-hover:focus {
  background-color: var(--active-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-list-item {
  margin: 15px;
}

.portfolio-list-link {
  display: block;

  transition: box-shadow var(--transition-time) var(--transition-function);
}

.portfolio .box {
  position: relative;
  overflow: hidden;
}

.portfolio .description {
  position: absolute;
  bottom: 0;
  /* opacity: 0; */

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-time) var(--transition-function);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-link:hover .description,
.portfolio-list-link:focus .description {
  /* opacity: 1; */
  transform: translateY(0);
}

.portfolio-img {
  display: block;
}

.t-desc {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}

.portfolio-list-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.portfolio-list-description {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  width: 528px;
  /* height: 581px; */

  top: 50%;
  left: 50%;
  padding: 40px;

  background: white;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--transition-function);
}

.backdrop__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-close {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--transition-time) var(--transition-function);
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--blue-activ-logo);
}

.registration-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(20 / 23);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--primary-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--description-indentation);
}

.form-field__title {
  font-size: 12px;
  line-height: calc(12 / 14);
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--description-text-color);
}

.form-field__input {
  width: 100%;
  height: 100%;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;

  outline: none;

  transition: border-color var(--transition-time) var(--transition-function);
}

.form-field__control {
  position: relative;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill var(--transition-time) var(--transition-function);
}

.form-field__control:hover .form-field__input,
.form-field__control:focus .form-field__input,
.registration-form__comment:hover,
.registration-form__comment:focus {
  border-color: var(--active-color);
}

.form-field__control:hover .form-field__icon,
.form-field__control:focus .form-field__icon {
  fill: var(--active-color);
}

.registration-form__comment {
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--transition-time) var(--transition-function);
}

.registration-form__comment:hover,
.registration-form__comment:focus {
  border: 1px solid var(--active-color);
}

.registration-form__comment::placeholder {
  font-size: 12px;
  line-height: calc(12 / 14);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.div-textarea {
  margin-bottom: 20px;
}

.form-consent {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-consent__check {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--primary-color);
  border-radius: 2px;
  fill: white;
}

.form-consent__checkbox:checked + .form-consent__check {
  border-color: transparent;
  background-color: var(--blue-color-logo);
}

.form-consent__title {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 24);
  margin: 0;

  letter-spacing: 0.03em;

  color: var(--description-text-color);
}

.form-consent__link {
  text-decoration-line: underline;
  color: var(--blue-color-logo);
}

.form-consent__btn {
  width: 200px;
  height: 50px;

  background-color: var(--active-color);
  border-radius: 4px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(16 / 30);

  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition: box-shadow var(--transition-time) var(--transition-function);
}

.form-consent__btn:hover,
.form-consent__.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
